<?xml version='1.0' encoding='utf-8'?>
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
	</dict>
	<key>KeepAlive</key>
	<false />
	<key>Label</key>
	<string>/Users/rupali.b/Documents/GitHub/Motherboard/Obsidian/Scripts/daily_auto_collect.sh</string>
	<key>LaunchOnlyOnce</key>
	<false />
	<key>Program</key>
	<string>/Users/rupali.b/Documents/GitHub/Motherboard/Obsidian/Scripts/daily_auto_collect.sh</string>
	<key>RunAtLoad</key>
	<false />
	<key>StandardErrorPath</key>
	<string>/Users/rupali.b/Documents/GitHub/Motherboard/Obsidian/Scripts/logs/launchd_stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/rupali.b/Documents/GitHub/Motherboard/Obsidian/Scripts/logs/launchd_stdout.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>22</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>WorkingDirectory</key>
	<string>/Users/rupali.b/Documents/GitHub/Motherboard/Obsidian</string>
</dict>
</plist>